/*    */

.carousel-caption{
    text-align: left;
    margin-bottom: 10%;
}
.kartu{
    background: #fff;
}
.feature_cake{
    background-image: url("/Users/mike/Desktop/coding/project/img/bg-feature.jpg");
    background-size: 600px;
}
.cakecake{
    margin-top: 10px;
}
.labelcake{
    text-align: center;
    margin-top: 50px;
}
.cake_image{
    text-align: center;

}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    line-height: 100px;
    text-align: center;
    background: white;
position: absolute;
top: 170px;
left: 89px;
  }

  .dotcircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #000;
margin-top: -50px;
z-index: -1; position:relative;
  }

  .chef_item{
      text-align: center;
  }
  /*menu*/
.juduloffer h2{
    font-size: 36px;
    color: #3e606b;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
  .discover_item_inner .discover_item h4 {
    font-size: 20px;
    font-weight: bold;
    color: #242424;
    margin-bottom: 10px;
}
  .discover_item_inner .discover_item p {
    font-size: 16px;
    color: #797979;
    margin-bottom: 20px;
}
  .juduloffer{
      text-align: center;
  }

  /*chef*/
  .our_chef_area {
    background: #f6f6f6;
}